#   SPDX-FileCopyrightText: (c) 2018 Patricia Aas
#   SPDX-License-Identifier: MIT
#
/build
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeLists.txt.user
cmake-build-debug/*
cmake-build-release/*
.idea/*
