name: Update Conan

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '10 13 * * 0'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, ubuntu-20.04] # ubuntu-20.04

    runs-on: ${{ matrix.os }}
    
    env:
      CONAN_USER_HOME: "${{ github.workspace }}/release"
      CONAN_USER_HOME_SHORT: "${{ github.workspace }}/release/short"
      CONAN_SYSREQUIRES_MODE: enabled
      INSTALL_DIR: ${{ github.workspace }}/install/

    steps:
    - uses: actions/checkout@v2

    - name: Cache Conan modules
      id: cache-conan
      uses: turtlebrowser/conan-cache@v1.1
      with:
          bot_name: turtlebrowser-bot
          bot_token: ${{ secrets.CACHE_REPO_TOKEN }}
          cache_name: turtlebrowser/conan-cache-turtlebrowser
          key: host-${{ runner.os }}-target-${{ runner.os }}-${{ matrix.os }}-update-${{ github.run_number }}
          target_os: ${{ runner.os }}-${{ matrix.os }}
          lfs_limit: 60

    - name: Get Conan
      run: |
        pip3 install wheel setuptools
        pip3 install conan --upgrade
        mkdir build
        
    - name: Fix Path on Ubuntu
      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-latest'
      run: echo "::add-path::/home/runner/.local/bin"

# Debian Dependencies
# https://wiki.qt.io/Building_Qt_5_from_Git

#    - name: Add Qt Source Dependencies
#      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-latest'
#      run: |
#        sudo sed -Ei 's/^# deb-src /deb-src /' /etc/apt/sources.list
#        sudo apt-get update
#        sudo apt-get build-dep qt5-default

#    - name: Add Libxcb Dependencies
#      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-latest'
#      run: |
#        sudo apt-get install '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev

#    - name: Add Qt WebEngine Dependencies
#      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-latest'
#      run: |
#        sudo apt-get install libssl-dev libxcursor-dev libxcomposite-dev libxdamage-dev libxrandr-dev libdbus-1-dev libfontconfig1-dev libcap-dev libxtst-dev libpulse-dev libudev-dev libpci-dev libnss3-dev libasound2-dev libxss-dev libegl1-mesa-dev gperf bison

#    - name: Add Qt Multimedia Dependencies - using GStreamer 1.0
#      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-latest'
#      run: |
#        sudo apt-get install libasound2-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev

#    - name: Add QDoc Documentation Generator Tool Dependencies
#      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-latest'
#      run: |
#        sudo apt install libclang-6.0-dev llvm-6.0

    - name: Remove all previous builds
      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'macos-latest'
      run: conan remove -f "*"

    - name: Get Conan Dependencies
      working-directory: build
      run: cmake -DUPDATE_CONAN=ON -DCMAKE_BUILD_TYPE=Release ..
